.container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 50px 420px 100px;
  grid-gap: 10px;
}

.navBar {
  grid-row: 1;
}

.mediaViewer {
  grid-row: 2;
}

.tagManger {
  grid-row: 3;
}

.tagTools {
  margin-right: 10px;
}
